[submodule "InferenceHelper"]
	path = InferenceHelper
	url = https://github.com/iwatake2222/InferenceHelper
[submodule "third_party/tensorflow"]
	path = third_party/tensorflow
	url = https://github.com/tensorflow/tensorflow
